
.bgimg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("fundo.png");
    background-size: cover; 
}

.hcolor{
    background-color: #5e548e;
}

.headercolor{
    background-image: linear-gradient(to top, rgb(68, 33, 33), rgba(255,0,0,0), rgba(255,0,0,0));
}

.footercolor{
    background-image: linear-gradient(to bottom, rgb(68, 33, 33), rgba(255,0,0,0), rgba(255,0,0,0));
}

.glass-blur {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
}


.row{
    align-items: center;
}