
.bodyfont{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.articlecolor{
    background-color: #231942;
}

.hcolor{
    background-color: #5e548e;
}

.headercolor{
    background-color: #9f86c0;
}
